<div class="row">
  <div class="col-md-12">
    <div class="jobs-index">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">URL</th>
            <th scope="col">Job Type</th>
            <th scope="col">Location</th>
            <th scope="col">Job Author</th>
            <th scope="col">Remote OK</th>
            <th scope="col">Apply URL</th>
          </tr>
        </thead>
        <tbody>
          <% @jobs.each do |job| %>
            <tr>
              <td><%= job.title %></td>
              <td><%= job.description %></td>
              <td><%= job.url %></td>
              <td><%= job.job_type %></td>
              <td><%= job.location %></td>
              <td><%= job.job_author %></td>
              <td><%= job.remote_ok ? 'Yes' : 'No' %></td>
              <td><%= job.apply_url %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
