<!DOCTYPE html>
<html>
  <head>
    <title><%= Rails.configuration.application_name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', "https://js.stripe.com/v2/", "https://js.stripe.com/v3/", 'data-turbolinks-track': 'reload' %>
    <%= tag :meta, name: "stripe-public-key", content: Figaro.env.stripe_publishable_key %>
  </head>

  <body class="<%= yield (:body_class) %>">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="<%= root_path %>">Job Board</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to("Post Job", new_job_path, class: "nav-link new-job") %>
              </li>
              <li class="nav-item active">
                <%= link_to("Sign out", destroy_user_session_path, method: :delete, class: "nav-link") %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to("Log In", new_user_session_path, class: "nav-link") %>
              </li>
              <li class="nav-item">
                <%= link_to("Sign Up", new_user_registration_path, class: "nav-link") %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <% if flash[:notice] %>
      <div class="alert alert-info text-center notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
    <div class="alert alert-danger text-center notification">
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>




  <section class="section">
    <div class="container-fluid">
      <%= yield %>
    </div>
  </section>



  </body>
</html>
